BODY {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 85em;
    margin-left: auto;
    margin-right: auto;
}

.searchtable tr th, .searchtable tr td {
    vertical-align: middle;
}

.errors {
    color: red;
}

.songs {
    width: 50em;
}

.searchterms {
    border: 1px solid silver;
    float: right;
    padding: 2em;
    margin: 1em;
    width: 23em;
}

.searchterms table tr th {
    vertical-align: middle;
    text-align: right;
}

.searchterms table tr th.searchtop {
    padding-top: .3em;
    vertical-align: top;
}

.searchtitle {
    text-align: center;
    font-weight: bold;
    margin-bottom: .5em;
}

.searchnote {
    text-align: center;
    font-style: italic;
    margin-bottom: .5em;
}

.oddrow {
    background-color: #ddd;
}

.evenrow {
    background-color: #fff;
}

.hiphrase {
    font-weight: bold;
    color: blue;
}

.phrasesdiv {
    margin-right: 30em;
}

.phrases {
    width: 100%;
}

.recordcount {
    text-align: center;
    font-weight: bold;
    margin-bottom: .5em;
}

.prevrecords {
    text-align: left;
}

.nextrecords {
    text-align: right;
}

.sortheader {
    text-align: center;
}

.header_number {
    width: 7em;
}

.header_phrase {
    background: #ffb;
}

.header_album {
    background: #ddf;
}

.header_total {
    background: #dfd;
}

.current_sort {
    font-style: italic;
    font-weight: bold;
}

.restrict_cell_off {
    font-style: italic;
    color: #999;
}

.restrict_cell_on {
    font-style: normal;
    color: #000;
}

.no_results {
    color: red;
}
.no_results_text_on {
    display: table-row;
    font-weight: bold;
}
.no_results_text_off {
    display: none;
}
